<head>
  <style>
    body{
      width:728px;
      height: 90px;
    }
    .banner-link{

    }
    .banner-img{

    }
  </style>
</head>
<body>
  <a href="<%= @banner.link %>" class="banner-link">
    <img class="banner-img" src="<%= @banner.img %>">
  </a>
</body>
