// Place all the styles related to the Torrents controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
  text-align: center;
  width: 100%
}

.form-wrapper {
  padding: 10px;
}

.download-button {
  height: 24px;
  width: 24px;
}

.torrent-image {
  max-width: 100px;
  max-height: 200px;
}

.single-torrent {
  border-bottom: 1px solid #CECECE;
  width: 100%;
  margin-bottom: 5px;
}

.title-field {
  font-size: 13pt;
  font-weight: bold;
  padding: 10px 0px;
}

.pagination {
  margin: 0px !important;
  font-size: 12px;
}

#paginator_bottom {
  text-align: center;
}

span.page {
  color: #9E9E9E !important;

}

span.next, span.last, span.gap, span.prev, span.first {
  display: none;
}

.description-field {
  width: 10%;
}

.size-field {
  width: 100px;
}
.href-field {
  width: 45px;
}

.tinfo-field {

  text-align: center;
  padding-bottom: 8px;
}

.tinfo-heading > th {
  font-size: 10px;
  padding-bottom: 2px;
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
}
.seeds-field{
  color: green;
}
.leech-field{
  color: red;
}
.category-field > img {
  height: 20px;
  width: 20px;
  margin: 5px;
}