<footer class="footer">
  <ul class="list-inline footer-list">
    <li class="list-inline-item">
      <a href="/about">О нас</a>
    </li>
    <li class="list-inline-item">
      <a href="/eula">Условия</a>
    </li>
    <li class="list-inline-item created">Создано в 2016</li>
  </ul>
</footer>