<form method="post" class="form-horizontal" action="/torrents/search">
  <div class="input-group">

    <input id="query" class="form-control" type="text" placeholder="<%= t :search_placeholder %>"/>
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary">
        <%= t :search %>
      </button>
    </span>
  </div>
</form>