<div class="start">
  <div class="row">
    <h1 class="welcome">
      <%= t :welcome %>
    </h1>
  </div>
  <div class="row">
    <div class="form-wrapper">
      <%= render 'searchbox' %>
    </div>
  </div>
  <div class="search-result">
    <div id="loader"></div>
    <div id="search-result" class="search-wrapper" >
    </div>
  </div>
</div>